# This is Git's per-user configuration file.
[user]
	name = SirenGlitch
	email = 110285018+SirenGlitch@users.noreply.github.com
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[commit]
	template = /home/frazer/.gitmessage
[init]
	defaultBranch = main
