# This is Git's per-user configuration file.
[user]
	name = SirenGlitch
	email = frazerjamesrose@outlook.com
	signingkey = 6BAE8B9945374050
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[commit]
	template = /home/frazer/.gitmessage
	gpgsign = true
[init]
	defaultBranch = main
[core]
	editor = nvim
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
  navigate = true
  side-by-side = true
[merge]
	conflictStyle = zdiff3
