[submodule "fzf-git.sh"]
	path = fzf-git.sh
	url = https://github.com/junegunn/fzf-git.sh
[submodule "nvim"]
	path = .config/nvim
	url = https://github.com/SirenGlitch/nvim
[submodule ".fzf-git.sh"]
	path = .fzf-git.sh
	url = https://github.com/junegunn/fzf-git.sh
