@import "mocha.css";

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 13px;
    font-weight: bold;
    color: @text;
    min-height: 0;
    border: none;
    border-radius: 20px;
}

window#waybar {
    background-color: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
    margin-left: 5px;
    font-size: 4px;
    background-color: alpha(@base, 0.5);
    transition: none;
}

#workspaces button {
    transition: none;
    color: @text;
    font-weight: normal;
    font-size: 16px;
}

#workspaces button.urgent {
    transition: none;
    color: @red;
    background-color: alpha(@base, 0.5);
    font-size: 4px;
}

#workspaces button.active {
    background-color: alpha(@peach, 0.3);
}

#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-color: @red;
    background-color: alpha(@red, 0.3);
}

#workspaces button.active:hover {
    background-color: alpha(@red, 0.3);
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#window,

#clock {
    background-color: alpha(@base, 0.5);
    padding: 0 10px;
}

#battery {
    background-color: alpha(@base, 0.5);
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: @text;
        color: @crust;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: alpha(@base, 0.5);
}

#backlight {
    background-color: alpha(@base, 0.5);
}

#network {
    background-color: alpha(@base, 0.5);
    color: @blue
}

#network.disconnected {
    background-color: alpha(@base, 0.5);
    color: @red
}

#pulseaudio {
    background-color: alpha(@base, 0.5);
}

#pulseaudio:hover {
    background-color: alpha(@base, 0.75);
}

#pulseaudio.muted {
    background-color: alpha(@base, 0.5);
    color: @teal;
}

#pulseaudio.muted:hover {
    background-color: alpha(@base, 0.75); /* (goto 137) there must be a better way*/
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: alpha(@base, 0.5);
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: alpha(@base, 0.5);
}

#custom-media.custom-spotify_player {
    background-color: alpha(@base, 0.5);
}

#custom-media.custom-vlc {
    background-color: alpha(@base, 0.5);
    color: @peach;
}

#custom-power {
    background-color: alpha(@red, 0.7);
    color: @crust;
    padding: 0 13px 0 10px;
    margin-right: 3;
}

#tray {
    padding: 0px 10px;
    background-color: alpha(@base, 0.5);
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: alpha(@red, 0.3);
}

#window {
    padding: 0 5px;
    background-color: alpha(@base, 0.5);
}

window#waybar.empty #window {
    background: none;
    padding: 0;
}

#keyboard-state {
    background-color: alpha(@base, 0.5);
}

#keyboard-state > label {
    padding: 0 11px;
}

#keyboard-state > label.locked {
    background-color: alpha(@base, 0.5);
    padding: 0 11px; /* (see line 205) there has to be a better way of doing this */
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
