@import '../../.cache/wal/colors-wlogout.css';

* {
	background-image: none;
  transition: 20ms;
	box-shadow: none;
}

window {
	background-color: rgba(30, 30, 46, 0.90);
}

button {
  border-radius: 150px 150px 150px 150px;
  border-color: @color11;
  color: @foreground;
  background-color: @background;
  border-style: solid;
  border-width: 2px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  padding: 0px 5px 0px 5px;
}

button:focus, button:active, button:hover {
  background-color: rgb(48,50,66);
  outline-style: none;
}

#lock {
    background-image: url("../../.cache/wal/lock.svg");
}

#logout {
    background-image: url("../../.cache/wal/logout.svg");
}

#suspend {
    background-image: url("../../.cache/wal/suspend.svg");
}

#reload {
    background-image: url("../../.cache/wal/reboot.svg");
}

#shutdown {
    background-image: url("../../.cache/wal/shutdown.svg");
}

#reboot {
    background-image: url("../../.cache/wal/reboot.svg");
}
