* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(30, 30, 46, 0.90);
}

button {
  border-radius: 25px 25px 25px 25px;
  border-color: #fab387;
  text-decoration-color: #cdd6f4;
  color: #cdd6f4;
  background-color: #181825;
  border-style: solid;
  border-width: 2px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  padding: 0px 5px 0px 5px;
}

button:focus, button:active, button:hover {
  /* 20% Overlay 2, 80% mantle*/
  background-color: rgb(48,50,66);
  outline-style: none;
}

#lock {
    background-image: url("/home/frazer/.config/wlogout/lock.svg");
}

#logout {
    background-image: url("/home/frazer/.config/wlogout/logout.svg");
}

#suspend {
    background-image: url("/home/frazer/.config/wlogout/suspend.svg");
}

#reload {
    background-image: url("/home/frazer/.config/wlogout/reboot.svg");
}

#shutdown {
    background-image: url("/home/frazer/.config/wlogout/shutdown.svg");
}

#reboot {
    background-image: url("/home/frazer/.config/wlogout/reboot.svg");
}
